{% extends "base.html.twig" %}

{% block body %}

    <a href="{{path('articles') }}" class="btn btn-primary"><i class="fa fa-arrow-left" aria-hidden="true"></i>
            Retour à la liste</a>


    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-success">Envoyer</button>
    {{ form_end(form) }}
{% endblock body %}